
##############################################################################
# Adapted from https://github.com/qiime/qiime-deploy-conf/blob/master/qiime-1.8.0/qiime.conf
# qiime.conf
#
# This edit of the original will install a subset of the standard qiime configuration
# Everything sufficient to run amethst (amethst uses "biom convert" and "beta_diversity.py") 
# This version also installs R packages required for amethst that the standard 
# Qiime configuration does not include
#
# qiime-deploy configuration file
# This file specifies the applications to download and deploy.
#
# This file contains a single [global] section and a single [dependencies]
# section as well as any number of data or application sections. Each section
# must have a unique name. Data sections must begin with data-
#
# See the OPTIONS for a description of each option.
#
##############################################################################

[dependencies]
commands: gcc, g++, java, javac, ant

[global]
log-level: INFO
max-deploy-threads: 6
append-environment-to-bashrc: yes
append-environment-to-bashprofile: no

#[data-lanemask]
#local-file: lanemask_in_1s_and_0s
#remote-file: http://greengenes.lbl.gov/Download/Sequence_Data/lanemask_in_1s_and_0s

[data-core]
local-file: core_set_aligned.fasta.imputed
remote-file: http://greengenes.lbl.gov/Download/Sequence_Data/Fasta_data_files/core_set_aligned.fasta.imputed

#[gg_otus]
#version: 13_8
#build-type: copy
#release-file-name: gg_13_8_otus.tar.gz
#release-location: ftp://greengenes.microbio.me/greengenes_release/gg_13_5/gg_13_8_otus.tar.gz

[python]
version: 2.7.3
build-type: autoconf
release-file-name: Python-2.7.3.tgz
set-environment-variables-value: ATLAS=None,BLAS=None,LAPACK=None
release-location: http://www.python.org/ftp/python/2.7.3/Python-2.7.3.tgz
relative-directory-add-to-path: bin
autoconf-make-options: -j4
autoconf-configure-options: --enable-shared --enable-unicode=ucs2 --enable-unicode=ucs4
set-environment-variables-deploypath: LD_LIBRARY_PATH=lib

[qiime]
version: 1.8.0
build-type: python-distutils
release-file-name: qiime-1.8.0.tar.gz
release-location: https://pypi.python.org/packages/source/q/qiime/qiime-1.8.0.tar.gz
relative-directory-add-to-path: bin
copy-source-to-final-deploy: yes
deps: pycogent, matplotlib
set-environment-variables-deploypath: QIIME=./,PYTHONPATH=lib/
python-install-options: --install-scripts=bin/ --install-purelib=lib/

[MySQL-python]
version: 1.2.3
build-type: python-distutils
release-file-name: MySQL-python-1.2.3.tar.gz
release-location: http://sourceforge.net/projects/mysql-python/files/mysql-python/1.2.3/MySQL-python-1.2.3.tar.gz
deps: python, setuptools

[SQLAlchemy]
version: 0.7.1
build-type: python-distutils
release-file-name: SQLAlchemy-0.7.1.tar.gz
release-location: https://pypi.python.org/packages/source/S/SQLAlchemy/SQLAlchemy-0.7.1.tar.gz
deps: python

[pycogent]
version: 1.5.3
build-type: python-distutils
release-file-name: PyCogent-1.5.3.tgz
set-environment-variables-value: TEST_DB=1
copy-source-to-final-deploy: yes
release-location: http://downloads.sourceforge.net/project/pycogent/PyCogent/1.5.3/PyCogent-1.5.3.tgz
deps: numpy
set-environment-variables-deploypath: PYCOGENT=./

[pynast]
version: 1.2.2
build-type: python-distutils
release-file-name: pynast-1.2.2.tar.gz
release-location: https://pypi.python.org/packages/source/p/pynast/pynast-1.2.2.tar.gz
relative-directory-add-to-path: bin
deps: pycogent

[numpy]
version: 1.7.1
build-type: python-distutils
release-file-name: numpy-1.7.1.tar.gz
release-location: http://sourceforge.net/projects/numpy/files/NumPy/1.7.1/numpy-1.7.1.tar.gz
deps: python

[matplotlib]
version: 1.3.1
build-type: python-distutils
release-file-name: matplotlib-1.3.1.tar.gz
release-location: http://downloads.sourceforge.net/project/matplotlib/matplotlib/matplotlib-1.3.1/matplotlib-1.3.1.tar.gz
deps: numpy

[mpi4py]
version: 1.2.2
build-type: python-distutils
release-file-name: mpi4py-1.2.2.tar.gz
release-location: http://mpi4py.googlecode.com/files/mpi4py-1.2.2.tar.gz
deps: python

[sphinx]
version: 1.0.4
build-type: python-distutils
release-file-name: Sphinx-1.0.4.tar.gz
release-location: http://pypi.python.org/packages/source/S/Sphinx/Sphinx-1.0.4.tar.gz#md5=d4067e42e75525ecf108ece471ce97bb
deps: python, setuptools

[raxml]
version: 7.3.0
build-type: make
release-file-name:stamatak-standard-RAxML-5_7_2012.tgz
release-location: ftp://thebeast.colorado.edu/pub/QIIME-v1.5.0-dependencies/stamatak-standard-RAxML-5_7_2012.tgz
make-options: -f Makefile.gcc -j4
relative-directory-add-to-path: .

[fasttree]
version: 2.1.3
build-type: c-file
release-file-name: FastTree-2.1.3.c
release-location: http://www.microbesonline.org/fasttree/FastTree-2.1.3.c
c-file-compile-options: -lm
exe-name: FastTree
relative-directory-add-to-path: .

[cdbtools]
version: 10.11.2010
build-type: make
release-file-name: cdbfasta.tar.gz
release-location: ftp://occams.dfci.harvard.edu/pub/bio/tgi/software/cdbfasta/cdbfasta.tar.gz
make-options: -j4
relative-directory-add-to-path: .

[cdhit]
version: 3.1
build-type: make
release-file-name: cd-hit-2007-0131.tar.gz
unzipped-name: cd-hit
release-location: ftp://thebeast.colorado.edu/pub/QIIME-v1.5.0-dependencies/cd-hit-2007-0131.tgz
relative-directory-add-to-path: .
make-options: -j4

[uclust]
version: 1.2.22
build-type: custom
release-file-name: uclustq1.2.22_i86linux64
release-location: http://drive5.com/uclust/uclustq1.2.22_i86linux64
relative-directory-add-to-path: .

[biom-format]
version: 1.3.1
build-type: python-distutils
release-file-name: biom-format-1.3.1.tar.gz
release-location: https://pypi.python.org/packages/source/b/biom-format/biom-format-1.3.1.tar.gz
relative-directory-add-to-path: bin
deps: python, numpy, pyqi

[rtax]
version: 0.984
build-type: copy
release-file-name: rtax-0.984.tgz
release-location: http://static.davidsoergel.com/rtax-0.984.tgz
relative-directory-add-to-path: .

#[ipython]
#version: latest
#build-type: python-distutils
#repository-local-name: ipython
#repository-location: git://github.com/ipython/ipython.git
#relative-directory-add-to-path: bin
#repository-type: git
#deps: python

[setuptools]
version: 0.6c11
build-type: python-distutils
release-file-name: setuptools-0.6c11.tar.gz
release-location: http://pypi.python.org/packages/source/s/setuptools/setuptools-0.6c11.tar.gz
deps: python

[sourcetracker]
version: 0.9.5
build-type: copy
release-file-name: sourcetracker-0.9.5.tar.gz
release-location: http://sourceforge.net/projects/sourcetracker/files/sourcetracker-0.9.5.tar.gz
relative-directory-add-to-path: .
set-environment-variables-deploypath: SOURCETRACKER_PATH=.

[tax2tree]
version: 1.0
build-type: python-distutils
release-file-name: tax2tree-v1.0.tar.gz
release-location: https://downloads.sourceforge.net/project/tax2tree/tax2tree-v1.0.tar.gz
relative-directory-add-to-path: bin
deps: pycogent

[emperor]
version: 0.9.3
build-type: python-distutils
release-file-name: emperor-0.9.3.tar.gz
release-location: https://pypi.python.org/packages/source/e/emperor/emperor-0.9.3.tar.gz
relative-directory-add-to-path: bin
deps: numpy, qcli, setuptools

[qcli]
version: 0.1.0
build-type: python-distutils
release-file-name: qcli-0.1.0.tar.gz
release-location: ftp://thebeast.colorado.edu/pub/qcli-releases/qcli-0.1.0.tar.gz
relative-directory-add-to-path: bin
deps: python

[pyqi]
version: 0.3.1
build-type: python-distutils
release-file-name: pyqi-0.3.1.tar.gz
release-location: https://pypi.python.org/packages/source/p/pyqi/pyqi-0.3.1.tar.gz
relative-directory-add-to-path: bin
deps: python, setuptools

[pysqlite]
version: 2.6.3
build-type: python-distutils
release-file-name: pysqlite-2.6.3.tar.gz
release-location: ftp://thebeast.colorado.edu/pub/QIIME-v1.8.0-dependencies/pysqlite-2.6.3.tar.gz
set-environment-variables-deploypath: PYTHONPATH=lib/
deps: python

[ea-utils]
version: 1.1.2-537
build-type: make
release-file-name: ea-utils.1.1.2-537.tar.gz
release-location: https://ea-utils.googlecode.com/files/ea-utils.1.1.2-537.tar.gz
relative-directory-add-to-path: .
